.bg-light {
  background: #9152f8 !important;
}
.navbar-brand {
  color: white !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
  color: white !important;
}
.dropdown-item:hover {
  background: #9152f8;
  color: white;
}
.align {
  float: right;
}

i {
  padding-right: 8px;
}