// color
$dark-text-color: #37434e;
$light-text-color: #b3bec7;
$placeholder-color: #ccd6e6;
// width
$header-header: 70px;
// cdn
$image-path: "https://s3.us-east-2.amazonaws.com/io.assets/";
$font-family: url('../assets/fonts/poppins/Poppins-Regular.ttf')